#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

#DEB_ARCH_PACKAGES=thinfilter
#DEB_INDEP_PACKAGES=thinfilter-server
DEB_ALL_PACKAGES=thinfilter thinfilter-server

DEB_UPDATE_RCD_PARAMS := "start 99 2 3 4 5 . stop 40 0 1 6 ."

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

#DEB_DH_INSTALL_ARGS=--list-missing


DEB_DESTDIR=$(CURDIR)/debian/tmp


binary-predeb/thinfilter::
	install -d debian/thinfilter/usr/sbin
	install -d debian/thinfilter-server/usr/sbin
	mv debian/tmp/usr/bin/thinfilter.py       debian/thinfilter/usr/sbin/thinfilter
	mv debian/tmp/usr/bin/thinfiltersrv.py    debian/thinfilter-server/usr/sbin/thinfiltersrv
	mv debian/tmp/usr/bin/thinfilter-cron.py  debian/thinfilter/usr/sbin/thinfilter-cron

	rm debian/thinfilter/usr/share/thinfilter/webpanel/static/jquery.js
	dh_link usr/share/thinfilter/webpanel/static/jquery-1.3.2.min.js usr/share/thinfilter/webpanel/static/jquery.js

