$def with (session, data)
$var user:$session.user

<h1 class="clear">Archivo de envío</h1>

$if data.isimage:
    <div id="imgdata">
        <img src="data:image/$data.ext;base64,$data.b64" alt="$data.fname"/>
    </div>
$else:
    <div id="imgdata">
        <a href="/download" title="$data.fname"/>Descargar</a>
    </div>

<br/><br/>

<form method="POST" enctype="multipart/form-data" action="/files" id="filesform">
    Nuevo archivo: <input type="file" name="myfile" />
    <br/>
    <input type="submit" value="Guardar" />
</form>

