$def with (data, action='Guardar')


<script type="text/javascript">
function dodelete(elem){
  var d = $$('#ports')[0];
  var portdiv = $$('#'+elem)[0];
  d.removeChild(portdiv);
}
function addport(){
    var pname = prompt('Nombre del puerto:', ''); 
    if ( ! pname ) {
        return;
    }
    if ( pname.indexOf(' ') != -1 ) {
        alert("El nombre del puerto no puede tener espacios");
        return;
    }
    var d = $$('#ports')[0];
    portdiv=document.createElement("div");
    portdiv.id=pname;
    portdiv.name=pname;
    
    iname=document.createElement("input");
    iname.type='text';
    iname.className='portname';
    iname.id='name_'+pname;
    iname.name='name_'+pname;
    iname.size='10';
    portdiv.appendChild(iname);
    
    portdiv.innerHTML+='&nbsp;';
    
    inum=document.createElement("input");
    inum.type='text';
    inum.className='portnumbers';
    inum.id='numbers_'+pname;
    inum.name='numbers_'+pname;
    inum.size='20';
    portdiv.appendChild(inum);
    
    portdiv.innerHTML+='&nbsp;';
    
    ibut=document.createElement("input");
    ibut.type='button';
    ibut.value='borrar';
    ibut.onclick = function() { dodelete(pname); }
    portdiv.appendChild(ibut);
    
    d.appendChild(portdiv);
    $$('#name_'+pname)[0].value=pname;
}
</script>
<h1 class="clear">Configuración de puertos</h1>

<div id="popup"></div>

<form method="post" action="/firewall/ports">
<table id="settings">

    <tr>
        <td>Puertos</td>
        <td>
        <div id='ports' name='ports'>
        $for u in data['form']['ports']:
            <div id='$(u)' name='$(u)'>
                <input type="text" class="portname" name="name_$(u)" id="name_$(u)" value="$(u)" size='10' readonly="true">
                <input type="text" class="portnumbers" name="numbers_$(u)" id="numbers_$(u)" value="$(data['form']['ports'][u])" size='20'>
                <input type="button" value="borrar" onClick="javascript:dodelete('$(u)');">
            </div>
        </div>
        
        </td>
    </tr>



    
    <tr><td colspan="2"><hr></td></tr>


<tr>
    <td>&nbsp;</td>
    <td>
        <input type="button" value="Añadir puerto" onClick="javascript:addport();">
        <input type="submit" id="$action" value="$action">
    </td>
</tr>
</table>
</form>

