$def with (body='', title='ThinFilter', session=None, menus=[], config=None)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <title>$title</title>
  <link rel="stylesheet" href="/data/styles.css" type="text/css" media="screen" charset="utf-8"/>
  <script type="text/javascript" src="/data/jquery.js"></script>
  <script type="text/javascript" src="/data/thinfilter.js"></script>
  <link href="/data/dropdown.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/data/ultimate.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">

<div id="logo">
    <!--img class="netimg margin20" src="/data/etc3300.png" title="ThinFilter">-->
    <h1>ThinFilter</h1>
</div>

$if config.demo:
    <h2 class="error" style="margin-bottom: 0px; margin-top: 0px;">Modo demo, no se guardarán los cambios</h2>
    <h5 class="error" style="margin-bottom: 20px; margin-top: 0px;">(usuario:admin, passwd:admin)</h5>

$if session and session.user:
    <div id="menu" class="clear">
    <ul id="nav" class="dropdown dropdown-horizontal">
    <li><a href='/'>Inicio</a></li>
    $for menu in menus:
        <li>
        $if menu.path != "":
            <a href="$menu.path">$menu.name</a>
        $else:
            <span class="dir">$menu.name</span>
        <ul>
        $if menu.submenus:
            $for submenu in menu.submenus:
                <li><a href="$submenu.path">$submenu.name</a></li>
        </ul>
        </li>
    <li><a href='/logout'>Salir</a></li>
    </ul>
    </div>

$:body

    <div id="footer">ThinFilter powered by [<a href="http://thinetic.es">Thinetic Systems SLNE</a>]</div>
</div>
</body>
</html>




