
<h1 class="clear">Interfaz de administración</h1>

<div id="data" class="data">
    Este es la interfaz de administración de ThinFilter.
    Desde aquí puede configurar la red y el filtro así como obtener estadísticas de acceso.
</div>

<div id="qbuttons" class="clear">
    
    <a class="qbutton" href=""><img src="/data/wizard.png" alt="Asistente"><br/>Asistente</a>
    <a class="qbutton" href="/network"><img src="/data/network.png" alt="Red"><br/>Configuración de Red</a>
    <a class="qbutton" href="/stats/Daily/"><img src="/data/stats.png" alt="Estadísticas"><br/>Estadísticas</a>
</div>

<br class="clear">
