$def with (session, data)
$var user:$session.user


<script type="text/javascript" src="/data/readXML.js"></script>

<h1 class="clear">Teléfonos</h1>

<!--<table id="phones">
<thead class="ttitle"> <tr><td>MAC</td> <td>Estado</td> <td>Encontrado</td> <td>Envíado</td></tr> </thead>
$for phone in data:
    <tr> <td>$phone.address</td> <td>$phone.status</td> <td>$phone.date_search</td> <td>$phone.date_send</td> </tr>

</table>
-->

<div id="ContentArea"></div>

<div id="controls">
    <spam id="status">recargando</spam>
    <a href="javascript: phoneReload();" title="play"><img src="/data/play.png" alt="play"/></a>
    <a href="javascript: phoneStop();" title="pause"><img src="/data/pause.png" alt="pause"/></a>
</div>

<div id="actions">
    <a href="/clear">Borrar todos (se vuelve a buscar/enviar)</a>  | 
    <a href="/re-send">Reenviar a todos (pone a seen1)</a>
</div>

