$def with (data, action='Guardar')


<h1 class="clear">Configuración de los recursos compartidos SAMBA</h1>

$if data.has_key('error'):
    <div class="error">$(data['error'])</div>

<form method="post" action="/shares">
<table id="settings">
    <tr>
        <td>Grupo de trabajo</td>
        <td><input type="text" name="global|workgroup" id="global|workgroup" value="$(data['global|workgroup'])" size='50'></td>
    </tr>
    
    <tr><td colspan="2"><hr></td></tr>
    
    <tr>
        <td><img src="/data/folder.png" alt="Recursos"> Recursos</td>
        <td>
        $if len(data['sections'])< 1:
            <div class="error" style="margin:0;width:100%">No hay recursos <a href="/shares/share/new">añadir</a></div>
        $else:
            <ul>
            $for s in data['sections']:
                <li class="list"><a href='/shares/share/$(s)'>$(s)</a></li>
            </ul>
        </td>
    </tr>

    
    <tr><td colspan="2"><hr></td></tr>
    <tr>
        <td><img src="/data/users.png" alt="Usuarios"> Usuarios</td>
        <td>
        $if len(data['users'])< 1:
            <div class="error" style="margin:0;width:100%">No hay usuarios <a href="/shares/user/new">añadir</a></div>
        $else:
            <ul>
            $for s in data['users']:
                <li class="list"><a href='/shares/user/$(s)'>$(s)</a></li>
            </ul>
        </td>
    </tr>

    
    <tr><td colspan="2"><hr></td></tr>

<tr><td>&nbsp;</td><td><input type="submit" id="$action" value="$action"></td></tr>
</table>
</form>

