

<h1 class="clear">Sistema</h1>



<div id="qbuttons" class="clear" style="margin-top:0;">
    <a class="qbutton" href="/system?poweroff"><img src="/data/shutdown.png" alt="Apagar"><br/>Apagar</a>
    <a class="qbutton" href="/system?reboot"><img src="/data/shutdown.png" alt="Reiniciar"><br/>Reiniciar</a>
</div>


<h1 class="clear"></h1>

<div id="hideshow" style="visibility:hidden;">
	<div class="popup_block">
		<div class="popup txtcenter">
			<h3>Ejecutando...</h3>
			(puede tardar un poco)<br/>
			<img src="/data/loading.gif">
		</div>
	</div>
</div>
