$def with (data, new, get_roles, action='Guardar')

<script type="text/javascript">
function change_admin(){
    var enable=false;
    if(! $$("#admin")[0]) return;
    var obj=$$("#admin")[0];

    if (obj.checked) {
      enable=true;
    }
    
    $$('.role').each(function(i) {
        console.log("change i="+i+" id="+$$('.role')[i].id);
        if ( $$('.role')[i].id != 'admin' ) {
            if(enable)
                $$('.role')[i].checked=!enable;
            $$('.role')[i].disabled=enable;
        }
    } );
}
$$(document).ready(function() {
    if(! $$("#admin")[0]) return;
    var obj=$$("#admin")[0];
    obj.onchange=function(){ change_admin() };
    change_admin();
    var username=$$("#username")[0]
    if (username.value != '')
        username.disabled=true;
});
</script>

$if new:
    <h1 class="clear"><img src="/data/users.png" alt="Usuarios"> Nuevo usuario</h1>
$else:
    <h1 class="clear"><img src="/data/users.png" alt="Usuarios"> Editar usuario</h1>




<form method="post" action="/users/edit">
<table id="settings">
    <tr>
        <td>Nombre usuario</td>
        <td><input type="text" name="username" id="username" value="$data.username" size='50'></td>
    </tr>
    <tr>
        <td>Contraseña</td>
        <td><input type="password" name="password" id="password" value="" size='50'></td>
    </tr>
    <tr>
        <td>Contraseña (otra vez)</td>
        <td><input type="password" name="password2" id="password2" value="" size='50'></td>
    </tr>
    
    
    <tr><td colspan="2"><hr></td></tr>

    <tr>
        <td>Roles (permisos)</td>
        <td>
            <ul>
            $for role in get_roles():
                <li class="list">
                $if role in data.roles:
                    <input type="checkbox" class="role" name="$role" id="$role" value="1" checked>
                    
                $else:
                    <input type="checkbox" class="role" name="$role" id="$role" value="1">
                <acronym title="Módulo: $role">$get_roles(role)</acronym>
                </li>
            </ul>
        </td>
    </tr>


<tr>
  <td>&nbsp;</td>
  <td>
    $if new:
        <input type="hidden" name="new" id="new" value="1">
    $else:
        <input type="hidden" name="new" id="new" value="0">
        <input type="hidden" name="usernameold" id="usernameold" value="$data.username">
    <input type="submit" id="$action" value="$action">
  </td>
</tr>
</table>
</form>

