$def with (data, running, conf, action='Guardar')


<script>
function showPopup(){
  $$('#hideshow')[0].style.visibility = 'visible';
}

function vpn_reset(){
// preguntar si se borra todo
var answer = confirm ("Se borrarán todos los certificados de servidor y usuario.\n¿Está seguro?")
if (answer) {
  showPopup();
  location.href='/vpn/reset';
  }
}

function vpn_restart(){
showPopup();
location.href='/vpn/restart';
}
</script>



<h1 class="clear">Configuración de OpenVPN</h1>


<form method="post" action="/vpn" onsubmit="javascript:showPopup();">
<table id="settings">
$for v in data:
    <tr>
        <td>
        $if v == "CA_EXPIRE":
            Expiración certificado raíz
        $elif v == "KEY_EXPIRE":
            Expiración de los certificados
        $elif v == "KEY_PROVINCE":
            Provincia
        $elif v == "KEY_CITY":
            Ciudad
        $elif v == "KEY_COUNTRY":
            País
        $elif v == "KEY_ORG":
            Organización, o nombre de empresa
        $elif v == "KEY_EMAIL":
            Correo electrónico
        $elif v == "KEY_SIZE":
            Tamaño del certificado
        </td>
        <td>
        $if running:
            $(data[v])
        $else:
            <input class="$(v)" type="text" name="$(v)" id="$(v)" value="$(data[v])">
        </td>
        <td>
        $if "EXPIRE" in v:
            <small>(3650 = 10años)</small>
        $elif v == "KEY_SIZE":
            <small>(1024 por defecto)</small>
        $elif v == "KEY_PROVINCE" or v == "KEY_COUNTRY":
            <small>(2 letras)</small>
        </td>
    </tr>
    
    
    <tr><td colspan="3"><hr></td></tr>

$for v in conf:
    <tr>
        <td>
        $if v == "server":
            Dirección IP virtual
        </td>
        <td>
        $if running:
            $(conf[v])
        $else:
            <input class="$(v)" type="text" name="$(v)" id="$(v)" value="$(conf[v])">
        </td>
        <td>
        $if "server" in v:
            <small>(por defecto 10.8.0.0)</small>
        </td>
    </tr>

<tr><td colspan="3"><hr></td></tr>


<tr>
    <td>&nbsp;</td>
    <td>
        <input type="button" id="reset" value="Resetear" onclick="javascript:vpn_reset();">
        $if running:
            <input type="button" id="restart" value="Reiniciar VPN" onclick="javascript:vpn_restart();">
        $else:
            <input type="button" id="restart" value="Reiniciar VPN" onclick="javascript:vpn_restart();" disabled>
    </td>
    <td>
        $if running:
            <input type="submit" id="$action" value="$action" disabled>
        $else:
            <input type="submit" id="$action" value="$action">
    </td>
</tr>
</table>
</form>


<div id="hideshow" style="visibility:hidden;">
	<div class="popup_block">
		<div class="popup">
			<h3>Aplicando cambios...</h3>
			<h2>(puede tardar varios minutos)</h2>
			<img src="/data/loading.gif">
		</div>
	</div>
</div>




